	<div id="content">
		<div class="content-page">
			<div class="container">
				<div class="bread-crumb radius">
					<a href="#">Home</a> <span>Fashion</span>
				</div>
				<!-- End Bread Crumb -->
				<div class="row">
					<div class="col-md-12">
						<div class="product-detail detail-without-sidebar border radius">
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12">
									<div class="gallery-without-sidebar">
										<div class="slider flexslider">
											<ul class="slides">
												<li><img src="images/photos/homeware/8.jpg" alt=""/></li>
												<li><img src="images/photos/homeware/3.jpg" alt=""/></li>
												<li><img src="images/photos/homeware/2.jpg" alt=""/></li>
												<li><img src="images/photos/homeware/4.jpg" alt=""/></li>
												<li><img src="images/photos/homeware/5.jpg" alt=""/></li>
												<li><img src="images/photos/homeware/7.jpg" alt=""/></li>
											</ul>
										</div>
										<div class="carousel flexslider">
											<ul class="slides">
												<li><a href="#"><img src="images/photos/homeware/8.jpg" alt=""/></a></li>
												<li><a href="#"><img src="images/photos/homeware/3.jpg" alt=""/></a></li>
												<li><a href="#"><img src="images/photos/homeware/2.jpg" alt=""/></a></li>
												<li><a href="#"><img src="images/photos/homeware/4.jpg" alt=""/></a></li>
												<li><a href="#"><img src="images/photos/homeware/5.jpg" alt=""/></a></li>
												<li><a href="#"><img src="images/photos/homeware/7.jpg" alt=""/></a></li>
											</ul>
										</div>
									</div>
									<!-- End Gallery -->
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12">
									<div class="detail-info">
										<h2 class="title-detail">New Favorite</h2>
										<div class="product-rate">
											<div style="width:90%" class="product-rating"></div>
										</div>
										<p class="desc">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla paria tur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										<div class="product-price">
											<ins><span>$360.00</span></ins>
										</div>	
										<div class="available">
											<strong>Availability: </strong>
											<span class="in-stock">In Stock</span>
										</div>
										<a href="#" class="mail-to-friend">Email to a Friend</a>
										<div class="detail-extralink">
											<div class="detail-qty border radius">
												<a href="#" class="qty-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
												<span class="qty-val">1</span>
												<a href="#" class="qty-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
											</div>
											<div class="product-extra-link2">
												<a class="addcart-link" href="#">Add to Cart</a>
												<a class="wishlist-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
												<a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-refresh"></i></a>
											</div>
										</div>
									</div>
									<!-- Detail Info -->
									<div class="detail-social">
										<ul class="list-social-detail list-inline-block">
											<li><a href="#" class="soci-fa soc-tumblr"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
											<li><a href="#" class="soci-fa soc-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#" class="soci-fa soc-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#" class="soci-fa soc-print"><i class="fa fa-print" aria-hidden="true"></i></a></li>
											<li>
												<div class="more-social">
													<a class="soci-fa add-link soc-add" href="#"><i aria-hidden="true" class="fa fa-plus"></i><span>7</span></a>
													<ul class="list-social-share list-none">
														<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i><span>Youtute</span></a></li>
														<li><a href="#"><i class="fa fa-linkedin"></i><span>linkedin</span></a></li>
														<li><a href="#"><i class="fa fa-pinterest"></i><span>pinterest</span></a></li>
														<li><a href="#"><i class="fa fa-google"></i><span>google</span></a></li>
														<li><a href="#"><i class="fa fa-instagram"></i><span>instagram</span></a></li>
														<li><a href="#"><i class="fa fa-flickr"></i><span>flickr</span></a></li>
														<li><a href="#"><i class="fa fa-reddit"></i><span>reddit</span></a></li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="tab-detal hoz-tab-detail">
								<div class="hoz-tab-title">
									<ul>
										<li class="active"><a href="#hoz1" data-toggle="tab">Description</a></li>
										<li><a href="#hoz2" data-toggle="tab">Additional</a></li>
										<li><a href="#hoz3" data-toggle="tab">Tags</a></li>
										<li><a href="#hoz4" data-toggle="tab">Reviews</a></li>
										<li><a href="#hoz5" data-toggle="tab">Sizing Guide</a></li>
										<li><a href="#hoz6" data-toggle="tab">Custom Tab</a></li>
									</ul>
								</div>
								<div class="tab-content">
									<div id="hoz1" class="tab-pane active">
										<div class="hoz-tab-content">
											<div class="content-detail-tab">
												<div class="detail-tab-thumb">
													<img src="images/shop/tab-img.png" alt="" />
												</div>
												<div class="detail-tab-info">
													<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit a tion ulla mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident est laborum.</p>
													<ul>
														<li>Any Product types that You want - Simple, Configurable, Bundled and Grouped Products</li>
														<li>Downloadable/Digital Products, Virtual Products</li>
														<li>Inventory Management with Backordered items</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div id="hoz2" class="tab-pane">
										<div class="hoz-tab-content">
											<div class="content-detail-tab">
												<div class="detail-tab-thumb">
													<img src="images/shop/tab-img.png" alt="" />
												</div>
												<div class="detail-tab-info">
													<p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercit a tion ulla mco laboris nisi ut , sed do eiusmod tempor incidid unt ut labore et dolore magna aliqua aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident est laborum.</p>
													<ul>
														<li>Any Product types that You want - Simple, Configurable, Bundled and Grouped Products</li>
														<li>Downloadable/Digital Products, Virtual Products</li>
														<li>Inventory Management with Backordered items</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div id="hoz3" class="tab-pane">
										<div class="hoz-tab-content">
											<div class="content-detail-tab">
												<div class="detail-tab-thumb">
													<img src="images/shop/tab-img.png" alt="" />
												</div>
												<div class="detail-tab-info">
													<p class="desc">Ut enim ad minim veniam, quis nostrud exercit a tion ulla mco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid unt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident est laborum.</p>
													<ul>
														<li>Any Product types that You want - Simple, Configurable, Bundled and Grouped Products</li>
														<li>Downloadable/Digital Products, Virtual Products</li>
														<li>Inventory Management with Backordered items</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div id="hoz4" class="tab-pane">
										<div class="hoz-tab-content">
											<div class="content-detail-tab">
												<div class="detail-tab-thumb">
													<img src="images/shop/tab-img.png" alt="" />
												</div>
												<div class="detail-tab-info">
													<p class="desc">Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit a tion ulla mco laboris nisi ut aliquip ex ea commodo consequat. </p>
													<ul>
														<li>Any Product types that You want - Simple, Configurable, Bundled and Grouped Products</li>
														<li>Downloadable/Digital Products, Virtual Products</li>
														<li>Inventory Management with Backordered items</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div id="hoz5" class="tab-pane">
										<div class="hoz-tab-content">
											<div class="content-detail-tab">
												<div class="detail-tab-thumb">
													<img src="images/shop/tab-img.png" alt="" />
												</div>
												<div class="detail-tab-info">
													<p class="desc">Excepteur sint occaecat cupidatat non proident est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit a tion ulla mco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
													<ul>
														<li>Any Product types that You want - Simple, Configurable, Bundled and Grouped Products</li>
														<li>Downloadable/Digital Products, Virtual Products</li>
														<li>Inventory Management with Backordered items</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div id="hoz6" class="tab-pane">
										<div class="hoz-tab-content">
											<div class="content-detail-tab">
												<div class="detail-tab-thumb">
													<img src="images/shop/tab-img.png" alt="" />
												</div>
												<div class="detail-tab-info">
													<p class="desc">Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidid unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit a tion ulla mco laboris nisi ut aliquip ex ea commodo consequat. </p>
													<ul>
														<li>Any Product types that You want - Simple, Configurable, Bundled and Grouped Products</li>
														<li>Downloadable/Digital Products, Virtual Products</li>
														<li>Inventory Management with Backordered items</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Main Detail -->
						<div class="product-related border radius">
							<h2 class="title18">ALSO PURCHASED</h2>
							<div class="product-related-slider">
								<div class="wrap-item" data-itemscustom="[[0,1],[480,2],[768,3],[980,4],[1200,5]]" data-pagination="false" data-navigation="true">
									<div class="item-pro-ajax">
										<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link">
												<img src="images/photos/electronics/5.jpg" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox.iframe"><span>quick view</span></a>
										</div>
										<div class="product-info">
											<div class="product-price">
												<ins><span>$360.00</span></ins>
												<del><span>$400.00</span></del>
											</div>
											<h3 class="product-title"><a href="detail.html">Nellafashion by Fanbong</a></h3>
											<div class="product-rate">
												<div style="width:90%" class="product-rating"></div>
											</div>
										</div>
									</div>
									<!-- End Item -->
									<div class="item-pro-ajax">
										<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link">
												<img src="images/photos/electronics/9.jpg" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox.iframe"><span>quick view</span></a>
										</div>
										<div class="product-info">
											<div class="product-price">
												<ins><span>$360.00</span></ins>
												<del><span>$400.00</span></del>
											</div>
											<h3 class="product-title"><a href="detail.html">Nellafashion by Fanbong</a></h3>
											<div class="product-rate">
												<div style="width:90%" class="product-rating"></div>
											</div>
										</div>
									</div>
									<!-- End Item -->
									<div class="item-pro-ajax">
										<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link">
												<img src="images/photos/electronics/4.jpg" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox.iframe"><span>quick view</span></a>
										</div>
										<div class="product-info">
											<div class="product-price">
												<ins><span>$360.00</span></ins>
												<del><span>$400.00</span></del>
											</div>
											<h3 class="product-title"><a href="detail.html">Nellafashion by Fanbong</a></h3>
											<div class="product-rate">
												<div style="width:90%" class="product-rating"></div>
											</div>
										</div>
									</div>
									<!-- End Item -->
									<div class="item-pro-ajax">
										<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link">
												<img src="images/photos/electronics/10.jpg" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox.iframe"><span>quick view</span></a>
										</div>
										<div class="product-info">
											<div class="product-price">
												<ins><span>$360.00</span></ins>
												<del><span>$400.00</span></del>
											</div>
											<h3 class="product-title"><a href="detail.html">Nellafashion by Fanbong</a></h3>
											<div class="product-rate">
												<div style="width:90%" class="product-rating"></div>
											</div>
										</div>
									</div>
									<!-- End Item -->
									<div class="item-pro-ajax">
										<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link">
												<img src="images/photos/electronics/6.jpg" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox.iframe"><span>quick view</span></a>
										</div>
										<div class="product-info">
											<div class="product-price">
												<ins><span>$360.00</span></ins>
												<del><span>$400.00</span></del>
											</div>
											<h3 class="product-title"><a href="detail.html">Nellafashion by Fanbong</a></h3>
											<div class="product-rate">
												<div style="width:90%" class="product-rating"></div>
											</div>
										</div>
									</div>
									<!-- End Item -->
									<div class="item-pro-ajax">
										<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link">
												<img src="images/photos/electronics/15.jpg" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox.iframe"><span>quick view</span></a>
										</div>
										<div class="product-info">
											<div class="product-price">
												<ins><span>$360.00</span></ins>
												<del><span>$400.00</span></del>
											</div>
											<h3 class="product-title"><a href="detail.html">Nellafashion by Fanbong</a></h3>
											<div class="product-rate">
												<div style="width:90%" class="product-rating"></div>
											</div>
										</div>
									</div>
									<!-- End Item -->
									<div class="item-pro-ajax">
										<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link">
												<img src="images/photos/electronics/16.jpg" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox.iframe"><span>quick view</span></a>
										</div>
										<div class="product-info">
											<div class="product-price">
												<ins><span>$360.00</span></ins>
												<del><span>$400.00</span></del>
											</div>
											<h3 class="product-title"><a href="detail.html">Nellafashion by Fanbong</a></h3>
											<div class="product-rate">
												<div style="width:90%" class="product-rating"></div>
											</div>
										</div>
									</div>
									<!-- End Item -->
									<div class="item-pro-ajax">
										<div class="product-thumb">
											<a href="detail.html" class="product-thumb-link">
												<img src="images/photos/electronics/7.jpg" alt="">
											</a>
											<a href="quick-view.html" class="quickview-link fancybox.iframe"><span>quick view</span></a>
										</div>
										<div class="product-info">
											<div class="product-price">
												<ins><span>$360.00</span></ins>
												<del><span>$400.00</span></del>
											</div>
											<h3 class="product-title"><a href="detail.html">Nellafashion by Fanbong</a></h3>
											<div class="product-rate">
												<div style="width:90%" class="product-rating"></div>
											</div>
										</div>
									</div>
									<!-- End Item -->
								</div>
							</div>
						</div>
						<!-- End Product Related -->
					</div>
				</div>
			</div>	
		</div>
	</div>
	<!-- End Content -->