	<div id="content">
		<div class="content-page woocommerce">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="title-shop-page">My Account</h2>
						<div class="register-content-box">
							<div class="row">
								<div class="col-md-3 col-sm-3 col-ms-3"></div>
								<div class="col-md-6 col-sm-6 col-ms-12">
									<div class="">
										<div class="form-my-account">
											<form class="register" action="/register" method="POST">
												<h2 class="title24 title-form-account">REGISTER</h2>
												<p>
													<label for="name">Username <span class="required">*</span></label>
													<input required="true" type="text" class="form-control" name="name" value=""/>
													{{!-- <span class="label label-danger">{{#if errors.name}} {{errors.name.msg}}{{/if}}</span> --}}
												</p>
												<p>
													<label for="password">Email address <span class="required">*</span></label>
													<input required="true" type="text" class="form-control" name="email" value="" />
													{{!-- <span class="label label-danger">{{#if errors.email}} {{errors.email.msg}}{{/if}}</span> --}}

												</p>
												<p>
													<label for="password">Contact <span class="required">*</span></label>
													<input required="true" type="text" class="form-control" name="contact" value=""/>
													{{!-- <span class="label label-danger">{{#if errors.contact}} {{errors.contact.msg}}{{/if}}</span> --}}

												</p>
												<p>
													<label for="password">Password <span class="required">*</span></label>
													<input required="true" type="password" class="form-control" name="password" />
													{{!-- <span class="label label-danger">{{#if errors.password}} {{errors.password.msg}}{{/if}}</span> --}}

												</p>
												<p>
													<input type="submit" class="register-button"  value="Register">
												</p>

                                                <h2 class="title18 social-login-title"><a href="/login" class="" >Login</a></h2>
												<div class="social-login-block table text-center">
													<div class="social-login-btn">
														<a href="#" class="login-fb-link">Facebook</a>
													</div>
													<div class="social-login-btn">
														<a href="#" class="login-goo-link">Google</a>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-sm-3 col-ms-3"></div>
								{{!-- <div class="col-md-6 col-sm-6 col-ms-12">
									<div class="check-address">
										<div class="form-my-account check-register text-center">
											<h2 class="title24 title-form-account">Register</h2>
											<p class="desc">Registering for this site allows you to access your order status and history. Just fill in the fields below, and we’ll get a new account set up for you in no time. We will only ask you for information necessary to make the purchase process faster and easier.</p>
											<a href="#" class="shop-button login-to-register" data-login="Login" data-register="Register">Register</a>
										</div>
									</div>		
								</div> --}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Content Page -->
	</div>
	<!-- End Content -->