	<div id="footer">
		<div class="footer15 white footer14">
			<div class="footer-top15">
				<div class="container">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="footer-box15">
							<h2 class="title18 title-footer15 white">Need To Know  About sensin</h2>
							<div class="about-know">
								<ul class="list-none">
									<li><img src="images/home15/icon1.png" alt="" />Free Shipping <br/>On all orders over $50.</li>
									<li><img src="images/home15/icon2.png" alt="" />Free Returns<br/>On all orders.</li>
									<li><img src="images/home15/icon3.png" alt="" />International Shipping<br/>To over 80 countries.</li>
								</ul>
							</div>
							<div class="payment-method payment-method15">
								<a href="#" class="wobble-vertical"><img src="images/home15/pay1.png" alt=""></a>
								<a href="#" class="wobble-vertical"><img src="images/home15/pay2.png" alt=""></a>
								<a href="#" class="wobble-vertical"><img src="images/home15/pay3.png" alt=""></a>
								<a href="#" class="wobble-vertical"><img src="images/home15/pay4.png" alt=""></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="footer-box15">
							<h2 class="title18 title-footer15 white">Customer Support</h2>
							<div class="list-support15">
								<ul class="list-none">
									<li><a href="#">Customer service</a></li>
									<li><a href="#">Returns</a></li>
									<li><a href="#">Buy gift cards</a></li>
									<li><a href="#">Size charts</a></li>
									<li><a href="#">Site map</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">Affiliates</a></li>
								</ul>
								<ul class="list-none">
									<li><a href="#">My account</a></li>
									<li><a href="#">Personal information</a></li>
									<li><a href="#">Addresses</a></li>
									<li><a href="#">Discount</a></li>
									<li><a href="#">Orders history</a></li>
									<li><a href="#">Your Vouchers</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="footer-box15">
							<h2 class="title18 title-footer15 white">Contact Us</h2>
							<div class="contact-footer15">
								<p><img src="images/home15/ico1.png" alt="" />Our business address is 1063 Freelon Street San Francisco, CA 95108</p>
								<p><img src="images/home15/ico2.png" alt="" />+ 020.566.6666</p>
								<p><img src="images/home15/ico3.png" alt="" /><a href="#">support@kuteshop.com</a></p>
							</div>
							<div class="social-footer15">
								<div class="list-social">
									<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
									<a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom15">
				<div class="container">
					<div class="row">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer -->